<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityDemo"
        tools:targetApi="31">
        <meta-data
            android:name="org.opencv.camera2"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityCheckbox" />
        <activity android:name=".ActivityDatePicker" />
        <activity android:name=".ActivityDatePickerDialog" />
        <activity android:name=".ActivityListView" />
        <activity android:name=".ActivityProgressBar" />
        <activity android:name=".ActivityRadioButton" />
        <activity android:name=".ActivityRating" />
        <activity android:name=".ActivityRunnableThreadHandler" />
        <activity android:name=".ActivityScrollView" />
        <activity android:name=".ActivitySpinner" />
        <activity android:name=".ActivitySwitch" />
        <activity android:name=".ActivityTimePicker" />
        <activity android:name=".LoadImage" />
        <activity android:name=".MainButton" />
        <activity android:name=".MainCalendarView" />
        <activity android:name=".MainDialog" />
        <activity android:name=".MainEditText" />
        <activity android:name=".MainImageView" />
        <activity android:name=".MainLinearLayout" />
        <activity android:name=".MainRelativeLayout" />
        <activity android:name=".MainSeekBar" />
        <activity android:name=".MainTable" />
        <activity android:name=".MainTextView" />
        <activity android:name=".MainToast" />

    </application>

</manifest>